@import url("https://fonts.googleapis.com/css2?family=Marck+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --main-color: rgb(239, 174, 171);
  --accent-color: rgb(255, 255, 255);
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}
body {
  max-width: 980px;
  margin: auto;
  box-sizing: border-box;
  background-image: url("//res2.weblium.site/res/5d64ddb76efffe00249ee60a/5db055ee05c91b00267f5f3d_optimized_1920");
}
ul {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3 {
  color: var(--main-color);
  font-family: "Marck Script", cursive;
}

h3 {
  font-size: 40px;
}

/* ////// HEADER STYLES /////// */
header {
  display: block;
  margin: auto;
  padding: 10px 25px 10px 25px;
}
.header-container-info {
  display: none;
}
.logo {
  max-width: 100%;
}
/* STYLES MENU FOR BURGER */
.main-menu {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: burlywood;
}
.menu-items {
  list-style-type: none;
  text-align: center;
  margin: 50px 0 0 0;
}
.menu-items li {
  margin: 20px 0 20px 0;
}

.menu-items li:hover {
  color: var(--main-color);
  text-decoration: underline;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
/* END STYLES MENU FOR BURGER */
.banner-img {
  display: block;
  margin: 25px auto;
  width: 100%;
}
.header-contacts p {
  margin: 0;
}
.header-contacts {
  padding: 35px 12px 0 0;
}
.header-contacts p {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 25px;
}

/* /////// START STYLES FOR BURGER /////// */
.burger {
  display: block;
  position: relative;
  width: 35px;
  height: 25px;
  margin: 30px 0 0 15px;
}
.burger::before,
.burger::after {
  content: "";
  background-color: black;
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
}
.burger::before {
  top: 0;
}
.burger::after {
  bottom: 0;
}
.burger span {
  position: absolute;
  background-color: black;
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  top: 11px;
}
.burger.active::before {
  transform: rotate(45deg);
  top: 10px;
}
.burger.active::after {
  transform: rotate(-45deg);
  bottom: 10px;
}
.burger.active span {
  transform: scale(0);
}

/* /////// END STYLES FOR BURGER /////// */

.banner h1 {
  text-align: center;
  line-height: 85px;
  font-size: 95px;
  letter-spacing: -1.5px;
  font-weight: 500;
}

.banner-text {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}
.btn-banner-trial-lesson {
  display: block;
  margin: auto;
  width: 130px;
  height: 35px;
  border-radius: 34px;
  background-color: var(--main-color);
  border: none;
  cursor: pointer;
  color: var(--accent-color);
}

.btn-banner-trial-lesson:hover {
  background-color: var(--accent-color);
  color: var(--main-color);
  border: 2px solid var(--main-color);
}

.btn-banner-trial-lesson:active {
  background-color: var(--accent-color);
  color: var(--main-color);
  border: 2px solid var(--main-color);
}

@media (min-width: 815px) {
  /* ////// MENU STYLES ////// */
  header {
    padding: 10px 0 15px 0;
  }
  .header-container-info {
    display: flex;
    justify-content: space-between;
  }
  .burger {
    display: none;
  }
  .main-menu {
    position: static;
    display: block;
    top: 50px;
    width: 100%;
    height: 50px;
    background-color: transparent;
  }

  header nav .menu-items {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 20px 75px 10px 75px;
  }

  /* /////// BANNER AREA STYLES /////// */
  .container-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .container-banner-img {
    margin: 0 15px 0 50px;
  }
}
