@import url("https://fonts.googleapis.com/css2?family=Marck+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --main-color: rgb(239, 174, 171);
  --accent-color: rgb(255, 255, 255);
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 980px;
  margin: auto;
  padding: 10px;
}
ul,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
h1,
h2 {
  color: var(--main-color);
  font-family: "Marck Script", cursive;
}

h2 {
  font-size: 40px;
}
h3 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

/* //////  START HEADER STYLES /////// */
header {
  display: block;
  padding: 10px 25px 10px 25px;
  background-image: url("//res2.weblium.site/res/5d64ddb76efffe00249ee60a/5db055ee05c91b00267f5f3d_optimized_1920");
}
.header-container-info {
  display: none;
}
.logo {
  max-width: 100%;
}
/* ///////  START STYLES MENU FOR BURGER  //////// */
.main-menu {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
}
.main-menu.active {
  top: 0;
}
.menu-items {
  list-style-type: none;
  text-align: center;
  margin: 50px 0 0 0;
}
.menu-items li {
  margin: 20px 0 20px 0;
}

.menu-items li:hover {
  color: var(--main-color);
  text-decoration: underline;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.burger {
  display: block;
  position: relative;
  width: 35px;
  height: 25px;
  margin: 30px 0 0 15px;
}
.burger::before,
.burger::after {
  content: "";
  background-color: var(--main-color);
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
}
.burger::before {
  top: 0;
}
.burger::after {
  bottom: 0;
}
.burger span {
  position: absolute;
  background-color: var(--main-color);
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  top: 11px;
}
.burger.active::before {
  transform: rotate(45deg);
  top: 10px;
  z-index: 1;
}
.burger.active::after {
  transform: rotate(-45deg);
  bottom: 12px;
  z-index: 1;
}
.burger.active span {
  transform: scale(0);
}
/* ////////   END STYLES MENU FOR BURGER  //////// */
.banner-img {
  display: block;
  margin: 25px auto;
  width: 100%;
}
.header-contacts p {
  margin: 0;
}
.header-contacts {
  padding: 35px 12px 0 0;
}
.header-contacts p {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 25px;
}

.banner h1 {
  text-align: center;
  line-height: 85px;
  font-size: 95px;
  letter-spacing: -1.5px;
  font-weight: 500;
}

.banner-text {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}
.btn-banner-trial-lesson {
  display: block;
  margin: auto;
  width: 130px;
  height: 35px;
  border-radius: 34px;
  background-color: var(--main-color);
  border: none;
  cursor: pointer;
  color: var(--accent-color);
  margin-top: 15px;
}

.btn-banner-trial-lesson:hover {
  background-color: var(--accent-color);
  color: var(--main-color);
  border: 2px solid var(--main-color);
}

.btn-banner-trial-lesson:active {
  background-color: var(--accent-color);
  color: var(--main-color);
  border: 2px solid var(--main-color);
}

@media (min-width: 815px) {
  /* ////// MENU STYLES ////// */
  header {
    padding: 10px 0 15px 0;
  }
  .header-container-info {
    display: flex;
    justify-content: space-between;
  }
  .burger {
    display: none;
  }
  .main-menu {
    position: static;
    display: block;
    top: 50px;
    width: 100%;
    height: 50px;
    background-color: transparent;
  }

  header nav .menu-items {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 20px 75px 10px 75px;
  }

  /* /////// BANNER AREA STYLES /////// */

  .container-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .container-banner-img {
    margin: 0 15px 0 50px;
  }
}

/* ////// START STUDIO DIRECTIONS SECTION STYLES /////// */
.studio-directions h2 {
  text-align: center;
  margin-bottom: 10px;
}
.studio-directions {
  background-image: url("//res2.weblium.site/res/5d64ddb76efffe00249ee60a/5db055ee05c91b00267f5f3d_optimized_1920");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin: 5px;
}
.img-directions {
  width: 100%;
}
.dance,
.yoga,
.stretching,
.wedding-dance {
  display: flex;
  flex-flow: column;
  padding: 10px;
}

.studio-directions p {
  font-size: 14px;
  line-height: 25.6px;
  padding: 10px;
}
.btn-directions {
  width: 230px;
  height: 40px;
  color: var(--accent-color);
  background-color: var(--main-color);
  border-radius: 34px;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .dance,
  .yoga,
  .stretching,
  .wedding-dance {
    flex-wrap: nowrap;
    flex-flow: row;
    align-items: center;
  }
  .container-directions-items {
    margin: 0 0 0 20px;
    padding: 0 10px 0 10px;
  }
  .container-directions-img {
    flex-basis: 700px;
  }
  .container-directions-items h3 {
    margin: 5px;
  }
  .studio-directions p {
    font-size: 16px;
    padding: 10px;
  }
}
/* ////// START ADVANTAGES SECTION STYLES /////// */
.advantages {
  background-image: url("../img/belly-dance-cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  background-attachment: fixed;
}
.advantages-item {
  width: 70%;
  background-color: var(--accent-color);
  margin: 10px 10px 10px 10px;
  padding: 15px;
  margin-bottom: 40px;
  border-radius: 10px;
}
.container-advantages {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 50vh;
}
.advantages-item h3 {
  font-family: "Marck Script", cursive;
  color: var(--main-color);
  text-align: center;
  font-size: 30px;
  line-height: 26.5px;
  padding-bottom: 10px;
}
.advantages-item p {
  text-align: center;
  font-size: 14px;
}
@media (min-width: 768px) {
  .advantages-item p {
    font-size: 16px;
  }
  .advantages-item h3 {
    font-size: 40px;
  }
}

/* ////// START GALERY SECTION STYLES /////// */
.container-galery h2 {
  font-family: "Marck Script", cursive;
  color: var(--main-color);
  text-align: center;
  margin: 30px 0 10px 0;
}
.container-galery p {
  text-align: center;
  font-size: 14px;
  margin-bottom: 20px;
}
.container-galery span {
  color: var(--main-color);
}
.container-galery-img {
  width: 100%;
}
.container-galery-img img {
  width: 100%;
}
@media (min-width: 768px) {
  .container-galery p {
    font-size: 16px;
  }
  .container-galery h2 {
    font-size: 40px;
  }
}

/* ////// START SCHEDULE SECTION STYLES /////// */
.schedule {
  background-image: url("//res2.weblium.site/res/5d64ddb76efffe00249ee60a/5db055ee05c91b00267f5f3d_optimized_1920");
  background-repeat: no-repeat;
  background-size: cover;
}
.schedule h2 {
  text-align: center;
  font-family: "Marck Script", cursive;
  color: var(--main-color);
  margin: 35px 0 10px 0;
}

.container-schedule-items {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.schedule-item {
  background: var(--accent-color);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 15px;
  margin: 10px;
  min-width: 250px;
  min-height: 300px;
}
.container-schedule-items h3 {
  text-align: center;
  color: var(--main-color);
}
.container-schedule-items td {
  padding: 6px 7px 6px 10px;
}
table {
  margin: 0 auto;
  /* text-align: center; */
}
hr {
  border: 1px solid black;
}
td,
th {
  padding: 50px;
}

@media (min-width: 650px) {
  .container-schedule-items {
    flex-flow: row;
    flex-wrap: wrap;
  }
}

/* ////// START SECTION ABOUT US STYLES /////// */
.about-us {
  background-image: url("//res2.weblium.site/res/5d64ddb76efffe00249ee60a/5db055ee05c91b00267f5f3d_optimized_1920");
  background-repeat: no-repeat;
  background-size: cover;
}
.container-about-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
